<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <main>
        <h2>User List</h2>
        <a href="create_user">Create User</a>
        <br>
        <br>
        <br>
        <div th:each="user : ${users}">
            <a th:text="${user.name}" th:href="@{/show/{id} (id=${user.id})}"></a>
        </div>
    </main>
</body>
</html>